/.bashrc
/.config
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.vscode
/.zcompdump
/.zshrc
/.condarc
/.docker
/.gitconfig
/.hushlogin
/.jupyter
/.local
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful